* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: var(--font-size);
}

body {
  min-height: 50vh;
}