.users_table {
  width: 100%;
}

.overflow_header {
  width: 100%;
  padding-right: 17px;
  overflow: hidden;
  border-top: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);
  border-left: 1px solid var(--color-border);
}

.overflow_body {
  transition: all var(--animation-duration);
  width: 100%;
  overflow-y: scroll;
  max-height: 50vh;
  border-right: 1px solid var(--color-border);
  border-left: 1px solid var(--color-border);
}

.users_table .first_col {
  border-left: none;
}

.users_table .image_col {
  min-width: 100px;
}

.users_table .register_col {
  min-width: 160px;
}

.users_table .phone_col {
  min-width: 140px;
}


.users_table .email_col {
 min-width: 290px;
}

.empty_message {
  margin-top: calc(var(--gap) * 2);
  height: var(--default-element-height);
}