.users_table {
  width: 100%;
}

.users_table .first_col {
  border-left: none;
}

.users_table .image_col {
  min-width: 100px;
}

.users_table .register_col {
  min-width: 160px;
}

.users_table .phone_col {
  min-width: 140px;
}

.users_table .email_col {
  min-width: 290px;
}

.empty_message {
  padding: calc(var(--gap) * 2);
  height: var(--default-element-height);
  border-bottom: 1px solid var(--color-border);
}

.overflow {
  position: relative;
  overflow: auto;
  height: 50vh;
  border: 1px solid var(--color-border);
  border-top: none;
}

.sticky {
  top: 0;
  position: sticky;
  z-index: 20;

}

.head_col {
  background-color: var(--color-white-accent);
  border-bottom: 1px solid var(--color-border);
}

.first_row .col{
 border-top: none;
}