.users_filter {
  padding: calc(var(--gap) * 2) 0;
  height: var(--filters-height);
}

.input {
  width: 300px;
  margin-right: calc(var(--gap) * 2);
}

.load, .reset {
  margin-right: calc(var(--gap) * 2);
}

@media screen and (max-width: 650px) {
  .input {
    width: 150px;
  }

  .users_filter {
    flex-wrap: wrap;
    height: initial;
  }
}

@media screen and (max-width: 483px) {
  .reset, .loader {
    margin-top: calc(var(--gap) * 2);
  }
}

@media screen and (max-width: 400px) {
  .load {
    margin-right: 0px;
  }
}